In [1]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
#Series of random numbers.

In [2]:
import numpy as np
import pandas as pd
from pandas.tseries.offsets import BDay
dt = pd.date_range(start='1/1/2015',end='12/31/2015', freq=BDay(), tz='UTC')
dt = pd.to_datetime(dt.date)
dt

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq=None)

In [3]:
s = pd.Series(np.random.rand(len(dt)),index=dt)
s

2015-01-01    0.956479
2015-01-02    0.520947
2015-01-05    0.287540
2015-01-06    0.744284
2015-01-07    0.693516
2015-01-08    0.986001
2015-01-09    0.956036
2015-01-12    0.221937
2015-01-13    0.197517
2015-01-14    0.161142
2015-01-15    0.620232
2015-01-16    0.136954
2015-01-19    0.229803
2015-01-20    0.999675
2015-01-21    0.667288
2015-01-22    0.096682
2015-01-23    0.060891
2015-01-26    0.647520
2015-01-27    0.237384
2015-01-28    0.499778
2015-01-29    0.457553
2015-01-30    0.184535
2015-02-02    0.999003
2015-02-03    0.731755
2015-02-04    0.410246
2015-02-05    0.938584
2015-02-06    0.237193
2015-02-09    0.057801
2015-02-10    0.155390
2015-02-11    0.131425
                ...
2015-11-20    0.438714
2015-11-23    0.317799
2015-11-24    0.445070
2015-11-25    0.421147
2015-11-26    0.803108
2015-11-27    0.228006
2015-11-30    0.319443
2015-12-01    0.328830
2015-12-02    0.027329
2015-12-03    0.998983
2015-12-04    0.203623
2015-12-07    0.322030
2015-12-08    0.108793
2015-12-09    0.207815
2015-12-10    0.825484
2015-12-11    0.858009
2015-12-14    0.991115
2015-12-15    0.514958
2015-12-16    0.074514
2015-12-17    0.939864
2015-12-18    0.939010
2015-12-21    0.987498
2015-12-22    0.989391
2015-12-23    0.453988
2015-12-24    0.728041
2015-12-25    0.179802
2015-12-28    0.859199
2015-12-29    0.940553
2015-12-30    0.362295
2015-12-31    0.095967
Length: 261, dtype: float64

In [4]:
df = pd.DataFrame({'Day':dt.weekday_name, 'Month':dt.month_name(), 'Val':s},index=dt)
df

                  Day     Month       Val
2015-01-01   Thursday   January  0.956479
2015-01-02     Friday   January  0.520947
2015-01-05     Monday   January  0.287540
2015-01-06    Tuesday   January  0.744284
2015-01-07  Wednesday   January  0.693516
2015-01-08   Thursday   January  0.986001
2015-01-09     Friday   January  0.956036
2015-01-12     Monday   January  0.221937
2015-01-13    Tuesday   January  0.197517
2015-01-14  Wednesday   January  0.161142
2015-01-15   Thursday   January  0.620232
2015-01-16     Friday   January  0.136954
2015-01-19     Monday   January  0.229803
2015-01-20    Tuesday   January  0.999675
2015-01-21  Wednesday   January  0.667288
2015-01-22   Thursday   January  0.096682
2015-01-23     Friday   January  0.060891
2015-01-26     Monday   January  0.647520
2015-01-27    Tuesday   January  0.237384
2015-01-28  Wednesday   January  0.499778
2015-01-29   Thursday   January  0.457553
2015-01-30     Friday   January  0.184535
2015-02-02     Monday  February  0.999003
2015-02-03    Tuesday  February  0.731755
2015-02-04  Wednesday  February  0.410246
2015-02-05   Thursday  February  0.938584
2015-02-06     Friday  February  0.237193
2015-02-09     Monday  February  0.057801
2015-02-10    Tuesday  February  0.155390
2015-02-11  Wednesday  February  0.131425
...               ...       ...       ...
2015-11-20     Friday  November  0.438714
2015-11-23     Monday  November  0.317799
2015-11-24    Tuesday  November  0.445070
2015-11-25  Wednesday  November  0.421147
2015-11-26   Thursday  November  0.803108
2015-11-27     Friday  November  0.228006
2015-11-30     Monday  November  0.319443
2015-12-01    Tuesday  December  0.328830
2015-12-02  Wednesday  December  0.027329
2015-12-03   Thursday  December  0.998983
2015-12-04     Friday  December  0.203623
2015-12-07     Monday  December  0.322030
2015-12-08    Tuesday  December  0.108793
2015-12-09  Wednesday  December  0.207815
2015-12-10   Thursday  December  0.825484
2015-12-11     Friday  December  0.858009
2015-12-14     Monday  December  0.991115
2015-12-15    Tuesday  December  0.514958
2015-12-16  Wednesday  December  0.074514
2015-12-17   Thursday  December  0.939864
2015-12-18     Friday  December  0.939010
2015-12-21     Monday  December  0.987498
2015-12-22    Tuesday  December  0.989391
2015-12-23  Wednesday  December  0.453988
2015-12-24   Thursday  December  0.728041
2015-12-25     Friday  December  0.179802
2015-12-28     Monday  December  0.859199
2015-12-29    Tuesday  December  0.940553
2015-12-30  Wednesday  December  0.362295
2015-12-31   Thursday  December  0.095967

[261 rows x 3 columns]

In [5]:
df.head(10)

                  Day    Month       Val
2015-01-01   Thursday  January  0.956479
2015-01-02     Friday  January  0.520947
2015-01-05     Monday  January  0.287540
2015-01-06    Tuesday  January  0.744284
2015-01-07  Wednesday  January  0.693516
2015-01-08   Thursday  January  0.986001
2015-01-09     Friday  January  0.956036
2015-01-12     Monday  January  0.221937
2015-01-13    Tuesday  January  0.197517
2015-01-14  Wednesday  January  0.161142